<a href="https://colab.research.google.com/github/jscorrea16/Pandas/blob/main/BIDSS_4_Joshua_Correa_CIDM_5310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Mapping Aedes aegypti and Ae. albopictus vector mosquito
# distribution in Brownsville, Texas

# Importing Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [4]:
scihub_data = pd.read_csv('/content/drive/MyDrive/Dataset/BrownsvilleData_SciHub.csv')

scihub_data.head(10)

,Unnamed: 0,TrapNumber,y_aeg,y_albo,Lat,Long,Date,isoweek,Total,Proportion_Water_10,...,Prop_1949_older,Prop_1959_older,Prop_1969_older,Prop_1979_older,Prop_1989_older,Prop_1999_older,Prop_2009_older,Temp,L1Temp,L2Temp
0,1,10,3,0,25.913656,-97.486471,3/21/2017,12,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.428571,20.892857,24.178571
1,2,10,1,1,25.913656,-97.486471,3/30/2017,13,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,25.035714,24.428571,20.892857
2,3,10,1,0,25.913656,-97.486471,4/6/2017,14,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.250000,25.035714,24.428571
3,4,10,1,0,25.913656,-97.486471,4/5/2017,14,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.250000,25.035714,24.428571
4,5,10,1,0,25.913656,-97.486471,4/12/2017,15,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,25.642857,24.250000,25.035714
5,6,10,1,0,25.913656,-97.486471,5/10/2017,19,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,26.964286,24.535714,26.857143
6,7,10,2,0,25.913656,-97.486471,5/9/2017,19,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,26.964286,24.535714,26.857143
7,8,10,2,0,25.913656,-97.486471,5/17/2017,20,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.500000,26.964286,24.535714
8,9,10,2,0,25.913656,-97.486471,5/23/2017,21,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.607143,28.500000,26.964286
9,10,10,0,0,25.913656,-97.486471,6/2/2017,22,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.000000,28.607143,28.500000

In [6]:
# Inspect .dtypes and convert the dates
# to pandas datetime if needed:

scihub_data.dtypes

Unnamed: 0                    int64
TrapNumber                    int64
y_aeg                         int64
y_albo                        int64
Lat                         float64
Long                        float64
Date                         object
isoweek                       int64
Total                         int64
Proportion_Water_10         float64
Proportion_Impervious_20    float64
Proportion_Soil_30          float64
Proportion_Tree_40          float64
Proportion_Shrub_52         float64
Proportion_Grass_70         float64
Proportion_WW_91            float64
Proportion_EW_92            float64
VegHi                       float64
MedianValue                   int64
AvgPopDens                  float64
Prop_2010_newer             float64
Prop_2000_2009              float64
Prop_1990_1999              float64
Prop_1980_1989              float64
Prop_1970_1979              float64
Prop_1960_1969              float64
Prop_1950_1959              float64
Prop_1940_1949              float64
Prop_1939_older             float64
ordweek                       int64
Prcp                        float64
Tmax                        float64
Tmin                        float64
Rad                         float64
VPres                       float64
L1Prcp                      float64
L1Tmax                      float64
L1Tmin                      float64
L1Rad                       float64
L1VPres                     float64
L2Prcp                      float64
L2Tmax                      float64
L2Tmin                      float64
L2Rad                       float64
L2Vpres                     float64
Prop_1949_older             float64
Prop_1959_older             float64
Prop_1969_older             float64
Prop_1979_older             float64
Prop_1989_older             float64
Prop_1999_older             float64
Prop_2009_older             float64
Temp                        float64
L1Temp                      float64
L2Temp                      float64
dtype: object

In [5]:
grid_data = pd.read_csv('/content/drive/MyDrive/Dataset/GridOverlay_Compiled_WithDaymet.csv')

grid_data.head(10)

,Unnamed: 0,GridNumber,y_aeg,y_albo,Lat,Long,Date,week,Total,Proportion_Water_10,...,Prop_1949_older,Prop_1959_older,Prop_1969_older,Prop_1979_older,Prop_1989_older,Prop_1999_older,Prop_2009_older,Temp,L1Temp,L2Temp
0,1,0,0,0,25.879700,-97.519096,1/21/2017,3,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,21.964286,19.392857,17.071429
1,2,0,0,0,25.879601,-97.509102,1/28/2017,4,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,18.285714,21.964286,19.392857
2,3,0,0,0,25.879400,-97.499100,2/4/2017,5,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,19.035714,18.285714,21.964286
3,4,0,0,0,25.879299,-97.489098,2/11/2017,6,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.571429,19.035714,18.285714
4,5,0,0,0,25.879200,-97.479103,2/18/2017,7,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,20.928571,23.571429,19.035714
5,6,0,0,0,25.879101,-97.469200,2/25/2017,8,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.535714,20.928571,23.571429
6,7,0,0,0,25.879000,-97.459198,3/4/2017,9,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.392857,23.535714,20.928571
7,8,0,0,0,25.878901,-97.449203,3/11/2017,10,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.357143,23.392857,23.535714
8,9,0,0,0,25.878799,-97.439201,3/18/2017,11,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,20.964286,24.357143,23.392857
9,10,0,0,0,25.878700,-97.429199,3/25/2017,12,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.535714,20.964286,24.357143

In [7]:
# Inspect .dtypes and convert the dates
# to pandas datetime if needed:

grid_data.dtypes

Unnamed: 0                     int64
GridNumber                     int64
y_aeg                          int64
y_albo                         int64
Lat                          float64
Long                         float64
Date                          object
week                           int64
Total                          int64
Proportion_Water_10          float64
Proportion_Impervious_20     float64
Proportion_Soil_30           float64
Proportion_Tree_40           float64
Proportion_Shrub_52          float64
Proportion_Grass_70          float64
Proportion_Agriculture_80    float64
Proportion_Orchards_82         int64
Proportion_WW_91             float64
Proportion_EW_92             float64
AvgPopDens                   float64
Prop_2010_newer              float64
Prop_2000_2009               float64
Prop_1990_1999               float64
Prop_1980_1989               float64
Prop_1970_1979               float64
Prop_1960_1969                 int64
Prop_1950_1959                 int64
Prop_1940_1949                 int64
Prop_1939_older                int64
MedianValue                  float64
VegHi                        float64
ordweek                        int64
Prcp                         float64
Tmax                         float64
Tmin                         float64
Rad                          float64
VPres                        float64
L1Prcp                       float64
L1Tmax                       float64
L1Tmin                       float64
L1Rad                        float64
L1VPres                      float64
L2Prcp                       float64
L2Tmax                       float64
L2Tmin                       float64
L2Rad                        float64
L2Vpres                      float64
Prop_1949_older                int64
Prop_1959_older                int64
Prop_1969_older                int64
Prop_1979_older              float64
Prop_1989_older              float64
Prop_1999_older              float64
Prop_2009_older              float64
Temp                         float64
L1Temp                       float64
L2Temp                       float64
dtype: object