<a href="https://colab.research.google.com/github/jscorrea16/Pandas/blob/main/Chapter_7_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Chapter 7
# Data Exploration and Transformation

In [3]:
# Defing Lists

row1 = list([1001.0, 'Pandas Banking', 235000, 248000,
             5.5, 2013, 3, 10, 0])
row2 = list([1002.0, 'Pandas Grocery', 196000, 205000,
             4.5, 2016, 4, 30, 0])
row3 = list([1003.0, 'Pandas Telecom', 167000, 193000,
             15.5, 2010, 11, 24, 0])
row4 = list([1004.0, 'Pandas Transport', 79000, 90000,
             13.9, 2018, 1, 15, 1])
row5 = list([1005.0, 'Pandas Insurance', 241000, 264000,
             9.5, 2009, 6, 1, 0])

# Defining a DataFrame
data_frame = pd.DataFrame(data=[row1, row2, row3,
                                row4, row5])

In [4]:
# Display DataFrame values
data_frame

        0                 1       2       3     4     5   6   7  8
0  1001.0    Pandas Banking  235000  248000   5.5  2013   3  10  0
1  1002.0    Pandas Grocery  196000  205000   4.5  2016   4  30  0
2  1003.0    Pandas Telecom  167000  193000  15.5  2010  11  24  0
3  1004.0  Pandas Transport   79000   90000  13.9  2018   1  15  1
4  1005.0  Pandas Insurance  241000  264000   9.5  2009   6   1  0

In [5]:
# Display DataFrame Info
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      object
 2   2       5 non-null      int64
 3   3       5 non-null      int64
 4   4       5 non-null      float64
 5   5       5 non-null      int64
 6   6       5 non-null      int64
 7   7       5 non-null      int64
 8   8       5 non-null      int64
dtypes: float64(2), int64(6), object(1)
memory usage: 488.0+ bytes

In [6]:
# Convert column 0 into a int

data_frame[0] = data_frame[0].astype('int')
data_frame[0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: 0, dtype: int64

In [7]:
# Summing column 2 and 3 together

data_frame[2] + data_frame[3]

0    483000
1    401000
2    360000
3    169000
4    505000
dtype: int64

In [8]:
# Create list of column headers

column_names = ["Customer ID", "Customer Name",
                "2018 Revenue", "2019 Revenue", "Growth", "Start Year",
                "Start Month", "Start Day", "New Customer"]

column_names

['Customer ID',
 'Customer Name',
 '2018 Revenue',
 '2019 Revenue',
 'Growth',
 'Start Year',
 'Start Month',
 'Start Day',
 'New Customer']

In [9]:
# Replace missing column headers

data_frame.columns = column_names

data_frame

,Customer ID,Customer Name,2018 Revenue,2019 Revenue,Growth,Start Year,Start Month,Start Day,New Customer
0,1001,Pandas Banking,235000,248000,5.5,2013,3,10,0
1,1002,Pandas Grocery,196000,205000,4.5,2016,4,30,0
2,1003,Pandas Telecom,167000,193000,15.5,2010,11,24,0
3,1004,Pandas Transport,79000,90000,13.9,2018,1,15,1
4,1005,Pandas Insurance,241000,264000,9.5,2009,6,1,0