<a href="https://colab.research.google.com/github/jscorrea16/Pandas/blob/main/Chapter_5_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
# The need for data selection methods

GDP_data = pd.read_csv('/content/drive/MyDrive/Dataset/US_GDP_Industry.csv')

In [ ]:
GDP_data

       period                Industry      GDP
0     2015_Q1          All industries  31917.8
1     2015_Q2          All industries  32266.2
2     2015_Q3          All industries  32406.6
3     2015_Q4          All industries  32298.7
4     2016_Q1          All industries  32303.8
...       ...                     ...      ...
2129  2019_Q2  Government enterprises    371.4
2130  2019_Q3  Government enterprises    373.5
2131  2019_Q4  Government enterprises    375.1
2132  2020_Q1  Government enterprises    372.8
2133  2020_Q2  Government enterprises    346.0

[2134 rows x 3 columns]

In [14]:
# The index and its forms.

GDP_data.index

RangeIndex(start=0, stop=2134, step=1)

In [15]:
range(0, 2134, 1)

range(0, 2134)

In [16]:
for i in range(0, 2134, 1):
  if(i>0 and i< 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
print(list(range(0, 2134, 1))[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in GDP_data.index:
  if(i>0 and i<10):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
# We can also look at column names

GDP_data.columns

Index(['period', 'Industry', 'GDP'], dtype='object')

In [20]:
# Exercise 5.01

gas_turbine_data = pd.read_csv('/content/drive/MyDrive/Dataset/gt_2015.csv')

In [23]:
# Print a list of the column names

gt_columns = list(gas_turbine_data.columns)

In [24]:
print(gt_columns, '\n (', len(gt_columns), ' columns )')

['AT', 'AP', 'AH', 'AFDP', 'GTEP', 'TIT', 'TAT', 'TEY', 'CDP', 'CO', 'NOX']
 ( 11  columns )

In [25]:
# Inspect the row inex using the .index attribute:

gas_turbine_data.index

RangeIndex(start=0, stop=7384, step=1)

In [26]:
gas_turbine_data['NOX'].max()

119.68

In [27]:
# Slicing and indexing methods

bare_data = pd.read_csv('/content/drive/MyDrive/Dataset/bare_csv.csv', header = None)

print(bare_data.index, bare_data.columns)

RangeIndex(start=0, stop=19, step=1) Int64Index([0, 1], dtype='int64')

In [28]:
labels_vs_integers =\
pd.DataFrame({'values':[6,1,5,2],
              'names': ['oranges', 'apples',
                        'bananas', 'pears']})

labels_vs_integers

   values    names
0       6  oranges
1       1   apples
2       5  bananas
3       2    pears