In [1]:
import pandas as pd

In [11]:
# List out the resulting series.
# I ran this code without squeeze = True. It would not run with that in the code.

populations_2010 = pd.read_csv('C:\\Users\\corre\\OneDrive\\Desktop\\WT_Summer_2023\\Pandas\\Dataset\\US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',
    index_col = [0])
#   squeeze = True

populations_2010

                         2010
City
New York              8190209
Los Angeles           3795512
Chicago               2697477
Houston               2100280
Phoenix               1449038
Philadelphia          1528283
San Antonio           1332299
San Diego             1305906
Dallas                1200350
San Jose               954940
Austin                 806164
Jacksonville           823114
Fort Worth             748441
Columbus               790943
Charlotte              738444
San Francisco          805505
Indianapolis           821579
Seattle                610630
Denver                 603359
District of Columbia   605226

In [9]:
# Total population for the largest 3 cities in 2010.

top_3_2010 = sum(populations_2010[['New York', 'Los Angeles', 'Chicago']])

KeyError: "None of [Index(['New York', 'Los Angeles', 'Chicago'], dtype='object')] are in the [columns]"

In [12]:
# Read in the data for 2019

populations_2019 = pd.read_csv('C:\\Users\\corre\\OneDrive\\Desktop\\WT_Summer_2023\\Pandas\\Dataset\\US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',
    index_col = [0])
    # squeeze = True)

populations_2019

                         2019
City
New York              8336817
Los Angeles           3979576
Chicago               2693976
Houston               2320268
Phoenix               1680992
Philadelphia          1584064
San Antonio           1547253
San Diego             1423851
Dallas                1343573
San Jose              1021795
Austin                 978908
Jacksonville           911507
Fort Worth             909585
Columbus               898553
Charlotte              885708
San Francisco          881549
Indianapolis           876384
Seattle                753675
Denver                 727211
District of Columbia   705749

In [14]:
# Total population for the largest 3 cities in 2019.

top_3_2019 = sum(populations_2019[['New York', 'Los Angeles', 'Chicago']])

KeyError: "None of [Index(['New York', 'Los Angeles', 'Chicago'], dtype='object')] are in the [columns]"